.square {
  width: 20px;
  height: 20px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 350px;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 12px;
}

#apply {
  background: rgb(249, 185, 250);
}

#reset {
  background: rgb(194, 170, 195);
}
