
body {
  background-color: rgb(212, 171, 209);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(138, 230, 254);
}

#score, #highScore {
  color: rgb(244, 227, 176);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(201, 147, 226);
  z-index: 2;
}

#snake-head {
  background-color: rgb(196, 173, 212);
}

.apple {
  background-color: rgb(129, 121, 199);
  z-index: 1;
}